/* ======== Color and Font Variables ======== */
:root {
  /* Font Families */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;

  /* Font Sizes */
  --font-xs: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
  --font-xl: 24px;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 700;

  /* Line Heights */
  --line-height: 1.4;

  /* Colors */
  --color-primary: #a0a0ff;
  --color-secondary: #6c63ff;
  --color-bg-grey: #f7f7f7;
  --color-bg-darkgrey: #e6e6e6;
  --color-bg-greypurple: #f0eaff;
  --color-bg-lightpurple: #f7f7ff;
  --color-bg-white: rgba(255, 255, 255, 1);
  --color-bg-white-transparent: rgba(255, 255, 255, 0.5);

}

/* ======== basic setting ======== */
* {
  font-family: var(--font-primary);
}

html,
body {
  overscroll-behavior-x: none;
}


.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

}



/* ======== Logo area ======== */
.logoText {
  font-size: 30px;
  font-family: var(--font-secondary);
  color: aliceblue;
}

.logoContainer {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  top: 0;
  background-color: black;
  /* border: solid 2px #305077; */
  /* Ensure padding and border are included in the width */
  display: flex;
  align-items: center;
  /* Vertically center any content inside */
  justify-content: center;

}

.blurred {
  filter: blur(5px);
  /* Adjust blur level as needed */
}

.panelContainer {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  overflow-y: hidden;

  padding-top: 60px;
  /* border: solid 2px #305077; */

}

.panel-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.panel-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Panel Transition Exiting */
.panel-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.panel-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.panel-large {
  width: 730px;
  /* Adjust as needed */
}

/* For 2 panels */
.panel-medium {
  width: 630px;
  /* Adjust as needed */
}

/* For 3 or more panels */
.panel-small {
  width: 530px;
  /* Adjust as needed */
}

/* ======== Sidebar Left ======== */
.sidebarLeft {
  /* border-radius: 20px; */
  position: fixed;
  width: 100px;
  left: 0px;
  height: calc(100vh - 50px);
  background-color: var(--color-bg-white-transparent);
  z-index: 2;
  box-shadow: -3px 10px 10px hsl(0, 0%, 78%);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
  flex-direction: column;
  text-align: center;
}

/* Hover effect for the button */
.sidebarLeft:hover {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Icon and text styling */
.sidebarLeft-title {
  font-size: var(--font-large);
  font-weight: bold;
  font-family: var(--font-secondary);
  color: black;
}

.journal-icon {
  width: 80px;
  height: 80px;
  background-color: black;
  mask: url('../public/diary_icon.svg') no-repeat center;
  mask-size: contain;

}

.friend-icon {
  width: 80px;
  height: 80px;
  background-color: black;
  mask: url('../public/friend_icon.svg') no-repeat center;
  mask-size: contain;
  display: inline-block;
}

/* ======== Sidebar Right ======== */
.sidebarRight {
  /* border-radius: 20px; */
  position: fixed;
  margin-top: 50px;
  width: 180px;
  right: 0px;
  height: calc(100vh - 50px);
  /* Subtract any header or additional spacing */
  background-color: var(--color-bg-white-transparent);
  box-shadow: -1px 0px 5px hsl(0, 0%, 78%);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* Hover effect for the button */
.sidebarRight:hover {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Sidebar title */
.sidebarRight-title {
  font-size: var(--font-large);
  font-weight: bold;
  font-family: var(--font-secondary);
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
  /* Centers the title */
  margin-top: 30px;
}

.sidebarRight-subtitle {
  padding: 10px;
  font-size: var(--font-small);
  color: rgb(0, 0, 0);
}

.character-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  overflow-y: auto;
}

.character-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* Align items to the top */
  background-color: var(--color-bg-grey);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-weight: 500;
  font-size: var(--font-small);
  /* Adjusted font size */
}

/* Character icon (circle) */
.character-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  flex-shrink: 0;


}

.default-icon {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  /* Default icon color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: var(--font-xl);
  font-weight: bold;
  border-radius: 50%;

}

/* Character name styling */
.character-name {
  word-wrap: break-word;
  flex-grow: 1;
  min-width: 0;
  max-width: calc(100% - 50px);
  font-family: var(--font-secondary);
  font-weight: 600;
}

/* Create button */
.create-button {
  background-color: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  width: 90%;
  font-size: var(--font-medium);
}

.null {
  background-color: var(--color-secondary);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.HomeButtonContainer {
  position: fixed;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}


.createButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer>.errorLabel {
  color: red;
  font-size: var(--font-xs);
  ;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


/* ======== Character Creation ======== */
.panel {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  width: 580px;
  /* Make the panel height exactly the window height */
  height: calc(100vh - 80px);
  /* Subtract any header or additional spacing */
  border: 3px solid #f1f1f1;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255);
  position: relative;
  transition: box-shadow 0.2s ease, opacity 0.2s ease;
  overflow: hidden;
  /* Ensure no content flows outside */
  flex-shrink: 0;

}

.panel-content {
  overflow-y: hidden;
  flex-grow: 1;
  max-height: calc(100vh - 100px);
  /* Ensure content scrolls after sticky header */
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: content-box;
}

.panel-header-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.panel-header {
  background-color: transparent;
  padding: 10px;
  padding-bottom: 10px;
  cursor: grab;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* For centering the title */
}

.filepond-wrapper {
  width: 40%;
  /* Adjust the width of the FilePond area */
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-family: var(--font-secondary);
  margin: 0;
}

.x-more-button-container {
  position: absolute;
  top: 20px;
  right: 12px;
  display: flex;
  transform: translateY(-10%);
  gap: 3px;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.close-btn,
.more-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.more-btn {
  font-size: 30px;
  transform: translateY(-20%);
}

.close-btn {
  font-size: var(--font-large);
}

.profile-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-grey);
}




.profile-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.profile-image-placeholder {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
  font-size: var(--font-xs);
  text-align: center;
}

.image-upload-input {
  display: none;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 120px;
  height: 100px;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  /* Remove border */
}

.name-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ensures that the button stays on the right */
  width: 100%;
}



.name-input {
  padding: 10px;
  border: 1px solid #b8b8f3;
  border-radius: 5px;
  width: 100%;
  background-color: var(--color-bg-white);
  margin-left: 20px;
  font-size: var(--font-large);
  /* border: 1px solid #b8b8f3; */
  border: '1px solid #b8b8f3'
}

.name-display {
  background-color: var(--color-bg-grey);
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
  /* border: 1px solid #b8b8f3; */
  width: 100%;
  font-size: var(--font-large);
  /* Add space between input/display and button */
}

.edit-save-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  color: #333;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  background: var(--color-bg-grey);
  margin-bottom: 5px;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  padding: 5px;
}



.tab {
  flex: 1;
  padding: 10px;
  background: var(--color-bg-grey);
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  color: #a7a7a7;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Smooth shadow transition */
}

.tab.active {
  background-color: #ffffff;
  /* border: 1px solid #6e6e6e; */
  font-weight: bold;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adds a subtle shadow */

}

/* ======== Global Button Styles ======== */
/* add attribuites, add connections, create new journal */
.create-new-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: var(--font-medium);
  margin-top: 6px;
  cursor: pointer;
}

.discover-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: var(--font-medium);
  margin-top: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* save */
.save-btn {
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: var(--font-medium);
  cursor: pointer;
  float: right;
}

.save-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}

.save-btn-container {
  display: flex;
  /* Aligns the button to the right */
  justify-content: flex-end;
  /* Pushes the button container to the bottom */
  position: absolute;
  bottom: 20px;
  /* Position it 20px from the bottom */
  right: 20px;
  /* Position it 20px from the right */
}

/* ======== thread animation ======== */
.thread-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  /* Adjust height to account for the logo */
  width: 100vw;
  position: fixed;
  /* Keep it fixed in the viewport */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Move to the center */
}

.thread-container {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;

}

.header-icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Adds space between the icon and the title */
}

.language-switcher-container {
  position: fixed;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.language-switcher button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}

.language-switcher button:hover {
  background-color: #c0c0c0;
}

.language-switcher button.selected {
  background-color: #464646;
  color: white;
}

.loading-overlay {
  position: absolute;
  /* Use fixed so it doesn't scroll with the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;

}

.spinner {
  border: 16px solid #000000;
  border-top: 16px solid #9c9c9c;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: var(--font-bold);
  color: #333;
}